h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15;
    padding-right: 15;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    }
/* =======================COMPONENTS=======================*/
.btn {
    display: flex;    
    margin-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
    color:#FFFFFF;
}
.btn-navigation {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 500;    
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
    border: 0;
}
.btn-navigation:hover,
.btn-navigation:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
.caption {    
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text-theme-light {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.text-theme-dark {
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: #E7E9FC; */
}
/* =======================/COMPONENTS=======================*/
/* =======================HEADER=======================*/
.header {    
    padding-top: 24px;
cont    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.page-nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
.page-heder-cantainer {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo {
    margin-right: 76px;
    font-family:'Raleway', sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;   
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.accent {
    font-family: 'Raleway', sans-serif;   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.menu-link {    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link:active,
.menu-link:hover,
.menu-link:focus {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;           
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}
.mar {
    display: flex;
    

}
.contact {
    margin-left: 40px;
    font-style: normal;    
    line-height: 1.5;      
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:active,
.contact:hover,
.contact:focus {
    color: #404BBF;       
}
/* =======================/HEADER=======================*/
/* =======================HERO=======================*/
.hero {   
    margin-top: 41px;
    width: 1440px;
    height: 600px; 
    background: #2E2F42; 

}
.title-hero {
    padding-top: 188px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    /* margin-top: 188px;
    margin-bottom: 48px; */
    width: 496px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
/* =======================/HERO=======================*/
.container-feature {   
    padding-top: 120px;
    padding-bottom: 120px;
}
.feature {
    display: flex;     
    justify-content: space-between; 
}
.img-list {
    display: flex;
    gap: 24;
    /* justify-content: space-between; */
    padding-bottom: 120px;
}
.team {
    background-color: #F4F4FD;
}
.team-avatar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;    
}
.avatar {
    /* background-color: #FFFFFF; */
}